
<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="CoinSearchr">
		
		<title>{% block title %} {% endblock %} | CoinSearchr</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"> -->

		<link rel="search" type="application/opensearchdescription+xml" title="CoinSearchr" href="https://coinsearchr.com/static/xml/coinsearchr-opensearch.xml">
		
		<!-- Favicons -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='other/site.webmanifest') }}">
		
		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	</head>
	
	<body>

		<header>
			<div class="collapse bg-dark" id="navbarHeader">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-md-7 py-4">
							<h4 class="text-white">About</h4>
							<p class="text-muted">CoinSearchr is an up-and-coming cryptocurrency search tool, designed to fill the need for OpenSearch-compatible cryptocurrency search tools. 
							It was created in 2021 by a disgruntled programmer who just wanted to search CoinMarketCap from Vivaldi Browser's command bar.</p>
						</div>
						<div class="col-sm-4 offset-md-1 py-4">
							<h4 class="text-white">Contact</h4>
							<ul class="list-unstyled">
								<li><a href="https://reddit.com/u/coin-searchr" class="text-white" target="_blank">Discuss on Reddit</a></li>
								<li><a href="mailto:coinsearchr+navbar@protonmail.com" class="text-white">Email CoinSearchr</a></li>
								<li><a href="https://github.com/CoinSearchr/CoinSearchr-site" class="text-white" target="_blank">Contribute on GitHub</a></li>
							</ul>
							CoinSearchr loves feedback, so please provide all the feedback you can.
						</div>
					</div>
				</div>
			</div>
			<div class="navbar navbar-dark bg-dark shadow-sm">
				<div class="container">
					<a href="/" class="navbar-brand d-flex align-items-center">
						<img src="/static/img/logo-48x48.png" width="48" height="48" alt="CoinSearchr" style="margin-right: 20px;" />
						<strong>CoinSearchr</strong>
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
						aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</div>
		</header>

		<main>
			{% block content %} {% endblock %}
		</main>

		<footer class="text-muted py-5">
			<div class="container">
				<!--
				<p class="float-end mb-1">
					<a href="#">Back to top</a>
				</p>
				--> {# TODO JS hide this if it's less than 2 screenfuls, but show otherwise #}
				<p class="mb-1">&copy; CoinSearchr {{ now.year }}. <a href="{{ url_for('privacypolicy') }}">Privacy Policy.</a></p>
				<p class="mb-0">CoinSearchr is an up-and-coming cryptocurrency search tool, designed to fill the need for OpenSearch-compatible cryptocurrency search tools. It was created in 2021 by a disgruntled programmer who just wanted to search CoinMarketCap from Vivaldi Browser's command bar.</p>
			</div>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{% block tail_scripts %} {% endblock %}
	</body>

</html>
