

main > .container {
	padding: 45px 15px 0;
}

.crypto-logo {
	max-width: 250px;
	height: auto;
	width: 50%;

	margin: 20px;

}

.coin-data-label {
	float: left;
}
.coin-data-value {
	float: right;
	font-weight: bold;
}