

main > .container {
	padding: 45px 15px 0;
}

.crypto-logo {
	max-width: min(250px, 50%);
	height: 125px;
	width: auto;

	/*
	height: auto;
	width: 50%;
	*/

	margin: 20px;

	/* image-rendering: pixelated; */
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;

}

.coin-data-label {
	float: left;
}
.coin-data-value {
	float: right;
	font-weight: bold;
}
